<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367255017575-sc0hld1dobkanupp1vpv6ucifn4g8mvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367255017575-sc0hld1dobkanupp1vpv6ucifn4g8mvb</string>
	<key>API_KEY</key>
	<string>AIzaSyAaSW58lzYUgIipEK-YHSwj_3tXKsWEGHw</string>
	<key>GCM_SENDER_ID</key>
	<string>367255017575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.monitoratec.SevnaiOS2019</string>
	<key>PROJECT_ID</key>
	<string>sevnaios</string>
	<key>STORAGE_BUCKET</key>
	<string>sevnaios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367255017575:ios:def15bd5047b48a4a75cc2</string>
	<key>DATABASE_URL</key>
	<string>https://sevnaios.firebaseio.com</string>
</dict>
</plist>